@using TongjiAssessment.Domain.Concrete
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tongji   评课社区", "List", "Comment", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("课程", "List", "Course", new { area = "" }, new { @class = "active" })</li>
                    <li>@Html.ActionLink("教师", "List", "Instructor")</li>
                    <li>@Html.ActionLink("讨论区", "List", "Post")</li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="查找课程/教师">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        string idenName = HttpContext.Current.User.Identity.Name;
                        if (idenName.Equals(""))
                        {
                            <li>@Html.ActionLink("登录", "Login", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("退出", "LoginOut", "Account") </li >
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    个人中心
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">我的头像</a></li>
                                    <li><a href="#">设置</a></li>
                                    <li><a href="#">Jasper Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">分离的链接</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">更多</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year 年 @DateTime.Now.Month 月 @DateTime.Now.Day 日  ——同济大学评课社区</p>
        </footer>
    </div>

</body>
</html>